/*

Styles to be applied to the app globally

*/
:root{
    --IVORY :#FEFFF1;
    --AQUAMARINE :#9BCEB5;
    --DIMGREY :#42403f;
    --DARKCYAN :#388895;
    --DARKSLATEGREEN :#4d675a;
    --AZURE :#E4F2EF;
    --CADETBLUE :#709784;
    --DARKSLATECYAN :#1f4f57;
    --GOLDENROD : #cfa42f;
    --BLACK : #333333;
/*


    --GAINSBORO : #DBDBDB;
    --PERSIAN_BLUE : #1c39bb;
    --ALICE_BLUE : #F3F7FF;
    --MISTY_ROSE : #fbe4e0;
    --SOLITUDE : #e6eeff;
    --GRAY : #808080;
    --PAUA : #312f4f;
    --WAIKAWA_GRAY : #696D8C;*/
}

.card {
    margin:2em 0;
    padding:1em;
}

.btn {
    background-color:'lightseagreen';
}