/*

Styles to be applied to the app globally

*/
:root{
    --IVORY :#FEFFF1;
    --AQUAMARINE :#9BCEB5;
    --DIMGREY :#42403f;
    --DARKCYAN :#388895;
    --DARKSLATEGREEN :#4d675a;
    --AZURE :#E4F2EF;
    --CADETBLUE :#709784;
    --DARKSLATECYAN :#1f4f57;
    --GOLDENROD : #cfa42f;
    --BLACK : #333333;
}

body{
    background-color: var(--DIMGREY);
    color:var(--IVORY);
}

#sidebar{
    background-color: var(--DIMGREY);
}

#navbar-toggle{
    background-color:var(--IVORY);
    border: var(--DARKSLATEGREEN) .1em solid;
}

#sidebar-toggle{
    background-color:var(--IVORY);
}

.card {
    margin:2em 0;
    padding:1em;
}

.btn {
    background-color:'lightseagreen';
}