/*

Styles to be applied to the app globally

*/
:root{
    --AQUAMARINE :#9BCEB5;
    --DARKCYAN :#388895;
    --DARKSLATEGREEN :#4d675a;
    --AZURE :#E4F2EF;
    --CADETBLUE :#709784;
    --DARKSLATECYAN :#1f4f57;
    --GOLDENROD : #cfa42f;
    --LIGHTGOLDENROD: #d6c79f;
    --ROSYBROWN : #ce9b9b;
    --IVORY :#FEFFF1;
    --DIMGREY :#42403f;
    --BLACK : #333333;
}

body{
    background-color: var(--DIMGREY);
    /*color:var(--IVORY);*/
}

#sidebar{
    background-color: var(--DIMGREY);
}

#navbar-toggle{
    background-color:var(--IVORY);
    border: var(--DARKSLATEGREEN) .1em solid;
}

#sidebar-toggle{
    background-color:var(--IVORY);
}

.card {
    margin:2em 0;
    padding:1em;
    display:flex;
/*    border:0;*/
    background:var(--DIMGREY);
}

.btn {
    background-color:var(--DARKSLATEGREEN);
    color:var(--IVORY);
    border:var(--BLACK);
    & hover{
        background-color:var(--CADETBLUE);
    }
}

a.nav-link{
    & hover{
        color:var(--GOLDENROD);
    }
}

a.nav-link:active{
    color:var(--AQUAMARINE);
}

img, .card-img{
    border-radius:2em;
    width:100%;
    height:100%;
    min-width:100%;
    max-height:70em;
    margin-bottom:1em;
}

#logoImg{
   width:3.75rem;
   height:3.75rem;
}

[id^="stock-name-"]{
    margin-right:.5rem;
}

[id=^"stock-price-"]{
    margin-right:.5rem;
}

.curr-info-wrapper{
    display:flex;

}
